<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="Platform" transaction-type="RESOURCE_LOCAL">

        <class>com.company.platform.entity.Camera</class>
        <class>com.company.platform.entity.Node</class>
        <class>com.company.platform.entity.Video</class>
        <class>com.company.platform.entity.Image</class>
        <class>com.company.platform.entity.ImageProcessing</class>
        <class>com.company.platform.entity.VideoProcessing</class>
    </persistence-unit>
</persistence>
